<!-- <p>header works!</p> -->
<!-- <a routerLink="/exam"><b>Exam</b></a>&nbsp; | &nbsp;
<a routerLink="/programmes"><b>programmes</b></a>&nbsp; | &nbsp;
<a routerLink="/study"><b>study</b></a>&nbsp; | &nbsp;
<a routerLink="/welcome"><b>welcome</b></a>&nbsp; | &nbsp;
<a routerLink="/admissions"><b>admissions</b></a>&nbsp; | &nbsp;
<a routerLink="/about-us"><b>About Us</b></a>&nbsp; | &nbsp; -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul class="ultag">
            <!-- <li routerLink="/exam">Exam</li> -->
            <li><a routerLink="/exam"><b>Exam</b></a></li>
            <li><a routerLink="/programmes">programmes</a></li>
            <li><a routerLink="/study">study</a></li>
            <li><a routerLink="/welcome">welcome</a></li>
            <li ><a routerLink="/admissions">admissions</a></li>
            <li ><a routerLink="/about-us">About Us</a></li>
        </ul>
        <hr>
    </header>
</body>
</html>